.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title {
  color: #0c0d0e;
}

body {
  color: #040b0b;
  background: linear-gradient(to bottom, #666699 0%, #339966 100% );
}

.home {
  color: rgb(110, 23, 110)
}
